<!DOCTYPE html>
<html>
<head>
    <title>Property - ADD</title>
</head>
<body>
<h1>Add New Property</h1>
<form action="/property/insert" method="get">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>Property Type: </th>
            <th><input name="property_type" type="text" /></th>
        </tr>
        <tr>
            <th>Address: </th>
            <th><% for(var i=0; p_addresses_result.length > i; i++ ) { %>
                <input type="checkbox" name="p_address_id" value="<%= p_addresses_result[i].p_address_id %>">
                <%= p_addresses_result[i].city + ', ' + p_addresses_result[i].zip %>
                <br />
                <% } %>
            </th>
        </tr>
    <tr>
        <th>Price: </th>
        <th><input name="price" type="text" /></th>
    </tr>
    </table>
    <br/>

    <input type="submit" />

</form>
</body>
</html>