<!DOCTYPE html>
</html>
<head>
    <title>Property View</title>

</head>
<body>
<h1>Property  Table</h1>
<a href='/property/add'> <h2>Add new property</h2> </a>
<div >
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>Property Type</th>
            <th>Address</th>
            <th>Price</th>
            <th width="120px">Action</th>
        </tr>
        <% for(var i=0; properties.length > i; i++) { %>
        <tr>
            <td><%= properties[i].property_type %></td>
            <td><%= properties[i].p_address_id %></td>
            <td><%= properties[i].price %></td>
            <td>
                <a href='/property/edit/?property_id=<%= properties[i].property_id %>'>
                    Edit
                </a>
            </td>
        </tr>
        <% }%>

    </table>
    </br>
    <a href='/'>Main Page</a>
</div>
</div>
</body>
</html>

