<!DOCTYPE html>
<html>
<head>
    <title>Seller - ADD</title>
</head>
<body>
<h1>Add New seller</h1>

<form action="/seller/insert" method="get">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>User ID: </th>
            <th><input name="user_id" type="text" /></th>
        </tr>
        <tr>
            <th>Property ID: </th>
            <th><input name="property_id" type="text" /></th>
        </tr>
        <tr>
            <th>Property For: </th>
            <th><input name="property_for" type="text" /></th>
        </tr>
    </table>
    <br/>

    <input type="submit" />

</form>
</body>
</html>