<!DOCTYPE html>
<html>
<head>
    <title>Buyer - ADD</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body>
<h1>Add New Buyer</h1>
<form action="/buyer/insert" method="get">
    <table id='table' border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>User ID: </th>
            <td><input name="user_id" type="text" /></td>
        </tr>
        <tr>
            <th>Property Type: </th>
            <td><input name="prop_type" type="text" /></td>
        </tr>
        <tr>
            <th>Budget: </th>
            <td><input name="budget" type="text" /></td>
        </tr>
    </table>
    <br/>

    <input type="submit" class="button" />

</form>
</body>
</html>