<!DOCTYPE html>
<html>
<head>
    <title>Buyer - ADD</title>
</head>
<body>
<h1>Add New Buyer</h1>
<form action="/buyer/insert" method="get">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>User ID: </th>
            <th><input name="user_id" type="text" /></th>
        </tr>
        <tr>
            <th>Property Type: </th>
            <th><input name="prop_type" type="text" /></th>
        </tr>
        <tr>
            <th>Budget: </th>
            <th><input name="budget" type="text" /></th>
        </tr>
    </table>
    <br/>

    <input type="submit" />

</form>
</body>
</html>