<!DOCTYPE html>
<html>
<head>
    <title>Address - ADD</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body>
<h1>Add New Address</h1>
<form action="/p_address/insert" method="get">
    <table id='table' border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>Property Name: </th>
            <td><input name="property_name" type="text" /></td>
        </tr>
        <tr>
            <th>City: </th>
            <td><input name="city" type="text" /></td>
        </tr>
        <tr>
            <th>Zip: </th>
            <td><input name="zip" type="text" /></td>
        </tr>
    </table>
    <br/>

    <input type="submit" class="button" />

</form>
</body>
</html>