<!DOCTYPE html>
<html>
<head>
    <title> P_Address - Edit </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1> Edit Property Address </h1>
<form action="/p_address/update" method="get">
    <table id='table' border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th><input type="hidden" id="p_address_id" name="p_address_id" value="<%= p_addresses.p_address_id %>"/>
    City:</th>
            <td><input id = "city" name = "city" type= "text" value="<%= p_addresses.city %>"/></td></tr>
    <tr><th>Property name:</th>
        <td><input id = "property_name" name = "property_name" type= "text" value="<%= p_addresses.property_name %>"/></td></tr>
        <tr><th>Zip :</th>
            <td><input id = "zip" name = "zip" type= "text" value="<%= p_addresses.zip %>"/></td>
        </tr>
    </table>
    <br/>
    <a href='/' class="button" >Main Page</a>
    <input type = "submit" class="button"/>

</form>
</body>
</html>