<!DOCTYPE html>
<html>
<head>
    <title>Address - ADD</title>
</head>
<body>
<h1>Add New Property</h1>
<form action="/p_address/insert" method="get">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>Property Name: </th>
            <th><input name="property_name" type="text" /></th>
        </tr>
        <tr>
            <th>City: </th>
            <th><input name="city" type="text" /></th>
        </tr>
        <tr>
            <th>Zip: </th>
            <th><input name="zip" type="text" /></th>
        </tr>
    </table>
    <br/>

    <input type="submit" />

</form>
</body>
</html>