<!DOCTYPE html>
<html>
<head>
    <title>User - ADD</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body>
<h1>Add New User</h1>
<form action="/p_users/insert" method="get">
    <table id='table' border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>User Type: </th>
            <td><input name="user_type" type="text" /></td>
        </tr>
        <tr>
            <th>First name: </th>
            <td><input name="fname" type="text" /></td>
        </tr>
        <tr>
            <th>Last name: </th>
            <td><input name="lname" type="text" /></td>
        </tr>
        <tr>
            <th>Contact: </th>
            <td><input name="contact" type="text" /></td>
        </tr>
    </table>
    <br/>

    <input type="submit" class="button" />

</form>
</body>
</html>